<div class="div_inp">
  <mat-card appearance="outlined" class="card">
    <p id="logo"></p>
    <mat-card-header class="centering">
      <div id="div_title">
        <mat-card-title style="color: white; font-size: 34px">Viajante</mat-card-title>
        <h2 style="text-align: center; color: white;">Cadastro</h2>
      </div>
    </mat-card-header>
    <mat-card-content class="centering" style="padding-left: 30px; padding-right: 30px;">
      <mat-form-field class="inp_info">
        <mat-label>Nome</mat-label>
        <input matInput class="inp_field" [formControl]="nomeFormControl" [(ngModel)]="nome"/>
        <mat-error>Insira seu nome</mat-error>
      </mat-form-field>
      <mat-form-field class="inp_info">
        <mat-label>Email</mat-label>
        <input matInput class="inp_field" [formControl]="emailFormControl"  [(ngModel)]="email" placeholder="Ex. viajante@gmail.com"/>
      <mat-error>Insira um email válido, por favor</mat-error>

      </mat-form-field>
      <mat-form-field class="inp_info">
        <mat-label>Senha</mat-label>
        <input matInput [type]="tipo1 ? 'password' : 'text'" [formControl]="senhaFormControl" [(ngModel)]="senha"/>
        <button
          mat-icon-button
          matSuffix
          (click)="oculto1()"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="tipo1"
        >
          <mat-icon>{{ tipo1 ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error>Insira uma senha válida, por favor</mat-error>
      </mat-form-field>
      <mat-form-field class="inp_info">
        <mat-label>Confirmar Senha</mat-label>
        <input matInput [type]="tipo2 ? 'password' : 'text'" [formControl]="c_senhaFormControl" [(ngModel)]="c_senha" />
        <button
          mat-icon-button
          matSuffix
          (click)="oculto2()"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="tipo2"
        >
          <mat-icon>{{ tipo2 ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <button mat-flat-button id="v_login" (click)="voltar()">Voltar para o login</button>
      <button mat-flat-button id="btn_entrar" (click)="cadastrar()">Cadastrar</button>
    </mat-card-content>
  </mat-card>
</div>
