<div class="div_inp" >
  <mat-card appearance="outlined" class="card">
    <p id="logo"></p>
    <mat-card-header class="centering">
      <div id="div_title">
        <mat-card-title style="color: white; font-size: 34px"
          >Viajante</mat-card-title
        >
        <h2 style="text-align: center; color: white">Login</h2>
      </div>
    </mat-card-header>
    <mat-card-content class="centering" style="padding: 30px;">
      <mat-form-field class="inp_info">
        <mat-label>Email</mat-label>
        <input matInput class="inp_field" [formControl]="emailFormControl" [(ngModel)]="email" placeholder="Ex. viajante@gmail.com"/>
        <mat-error>Insira um email válido, por favor</mat-error>
      </mat-form-field>
      <mat-form-field class="inp_info">
        <mat-label>Senha</mat-label>
        <input matInput [type]="oculto() ? 'password' : 'text'" [(ngModel)]="senha"/>
        <button
          mat-icon-button
          matSuffix
          (click)="oculto()"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="oculto()"
        >
          <mat-icon>{{ oculto() ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
       <a id="e_senha">Esqueceu sua senha?</a>

      <button mat-flat-button id="btn_entrar" (click)="redirectHome()">
        Entrar
      </button>
      <button mat-flat-button id="btn_google">Entrar com o google</button>
      <button mat-flat-button id="btn_entrar" (click)="redirectCadastro()">Cadastre-se</button>
    </mat-card-content>
  </mat-card>
</div>
